@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap");

html {
  line-height: 1.15;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tektur", sans-serif;
}

body {
  background: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #023047;
  overflow: hidden;
}
.App {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.App h1 {
  display: inline;
  text-align: center;
  margin-bottom: 2rem;
  color: #001d3d;
  text-shadow: 0 0 5px #00b4d8, 3px -1px 5px #003566;
}

.addTodo {
  display: flex;
  justify-content: center;
}
.todo-input {
  min-width: 15rem;
  width: 40vw;
  max-height: 2.5rem;
  background-color: #f8edeb;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  align-self: center;
}

.todo-input:focus {
  outline: none;
  border: 3px solid #ffb5a7;
}

.add-btn {
  margin-left: 1rem;
  background-color: #023047;
  color: #e4efe9;
  border-radius: 50%;
  border: 2px solid #e4efe9;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px #023047;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn:hover {
  outline: none;
  outline: 5px solid #e4efe9;
}

.displaytodos {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.displaytodos .buttons {
  margin-bottom: 2rem;
}
.displaytodos .buttons button {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.displaytodos .buttons button:focus {
  outline: 3px solid #001d3d;
  box-shadow: 2px 4px 10px #023047;
}
.displaytodos .buttons button:not(:last-child) {
  margin-right: 1rem;
}

.displaytodos ul {
  list-style: none;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-left: 5%;
}

.card {
  display: flex;
  flex-direction: column;
 background: hsla(186, 33%, 94%, 1);

background: linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(186, 33%, 94%, 1) 0%, hsla(216, 41%, 79%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
  margin: 0 1rem 1rem 0;
  height: 8rem;
  width: 18rem;
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}
.card textarea {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background: hsla(186, 33%, 94%, 1);


  color: #001d3d;
  height: 70%;
}
.card textarea:disabled {
  background-color: transparent;
}
.card .btns {
  position: absolute;

  bottom: .7rem;
  right: 1rem;
}

.card .btns button {
  border-radius: 20%;
  border: none;
  margin: 0 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  color: #c43a30;
  background-color: transparent;
}
.card .btns button:focus {
  outline: none;
  box-shadow: 0px 0px 3px black;
}
.completed {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  background-color: #219ebc;
  color: #023047;
  font-weight: 500;
  border: 2px solid #023047;
  border-radius: 20px;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 640px) {
  .card {
    margin-right: 0;
  }
  .displaytodos ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
